#space-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1EACE8;
    width: 30vw;
    height: 30vw;
    color: white;  
    border-radius: 4vw;
    border: 0;

    &:hover {
        background-color: #1277a1;
    }

    img {
        width: 40%;
        margin-bottom: 2%;
    }

    h3 {
        font-size: 80%;
    }
}

#button-nav + #button-nav {
    margin-top: 4vh;
}